/*
 * Designed by Joshua Strot
 */

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #f2f2f2;
}
footer {
    margin: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-image: url("../img/header.png");
    background-repeat: repeat;
    box-shadow: 0px -5px 5px #888888;
}

#logo {
    margin: 10px 20px 10px 10px;
    float: left;
}
#header {
    margin: 0px 0px 20px 0px;
    width: 100%;
    overflow: hidden;
    background-image: url("../img/header.png");
    background-repeat: repeat;
    box-shadow: 0px 5px 5px #888888;
}
#header-text {
    line-height: 90px;
    font-size: 45px;
    display: inline;
    vertical-align: middle;
    color: #f2f2f2;
    font-family: 'comfortaaregular';
}
#version {
    margin: 25px 10px 0px 0px;
    float: right;
    font-size: 17px;
    color: #f2f2f2;
    font-family: 'comfortaaregular';
}
#codename {
    margin: 25px 10px 0px 0px;
    float: right;
    font-size: 17px;
    color: #35bf5c;
    font-family: 'comfortaaregular';
}
#arch {
    margin-right: 10px;
    float: right;
    font-size: 17px;
    color: #f2f2f2;
    clear: right;
    font-family: 'comfortaaregular';
}
#navigation {
    border-radius: 0px 5px 5px 0px;
    box-shadow: 2px 0px 10px #888888;
    background-color: #ffffff;
    padding: 10px 10px;
    display: none;
    position: absolute;
    left: 0;
}
#navigation a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: 'droid_sansregular';
}
#navigation a:visited, #navigation a:active {
    color: black;
    text-decoration: none;
}
#social-media {
    float: left;
    margin: 14px 0px 0px 10px;
}
#checkbox {
    margin-top: 19px;
    float: right;
    color: #f2f2f2;
    font-size: 13px;
    font-family: 'droid_sansregular';
}
#checkbox a{
    color: #f2f2f2;
    text-decoration: none;
}
#checkbox a:hover, #checkbox a:active{
    color: #f2f2f2;
    text-decoration: none;
}
#close {
    margin: 12px;
    float: right;
    color: #f2f2f2;
    padding: 8px 12px 8px 12px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border: 1px solid #242424;
    border-top: 1px solid #616161;
    border-radius: 3px;
    font-family: 'droid_sansregular';
    font-size: 13px;
}
#close:hover, #close:active{
    color: #f2f2f2;
    text-decoration: none;
}

.social-media-img {
    margin-left: 1px;
}
.icon-check {
    display: inline-block;
    width: 13px;
    height: 11px;
    margin-right: 1px;
    line-height: 14px;
    background-image: url("../img/check.png");
    margin-top: 1px;
}
.icon-check-empty {
    display: inline-block;
    width: 13px;
    height: 11px;
    margin-right: 1px;
    line-height: 14px;
    background-image: url("../img/uncheck.png");
    margin-top: 1px;
}